.coin-container { 
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 1300px;
    align-items: center;
    justify-items: start;
    border-bottom: 1px solid #d7d7d7;
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin: 0 10px;
}

.coin h1 {
    font-size: 13px;
    width: 200px;
}

.coin-symbol {
    text-transform: uppercase;    
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price {
    width: 110px;
}

.coin-volume {
    width: 200px;
}

.coin-marketcap { 
    width: 240px;
}

.coin-percent {
    width: 80px;
}

.red {
    color: #f00606;
}

.green {
    color: #11d811;
}